<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @event.created_at %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @event.charge_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
