<h1>Listing products</h1>
<%=flash[:note].html_safe if flash[:note]%>
<p id="notice"><%= notice if notice%></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price in cents</th>
      <th>Buy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price.to_i %></td>
        <form action="order" method="POST">
          <input type="hidden" name="price" value="<%= product.price %>" />
          <input type="hidden" name="description" value="<%= product.description %>" />
          <input type="hidden" name="is_subscription" value="<%= product.is_subscription %>" />
          <input type="hidden" name="plan_id" value='<%= "#{product.name}#{product.id}" %>' />
          <td><%= buy_or_subscription(product) %></td>
        </form>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
