<!DOCTYPE html>
<html>
<head>
  <title>HelloConektaRubyRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js"></script>
  <script type="text/javascript">
  // Conekta Public Key
  Conekta.setPublishableKey('<%= Rails.application.secrets.conekta_public_key %>');
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
